<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>twitterview</title>
        <meta name="viewport" content="initial-scale=1.0">

    </head>
    <body>
        <div id='tweet_list'>
        <%= @tweets =>
        </div>
    </body>
    </html>